Repository FacioCode/design, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

fix: example build error: No toolchains found in the NDK
  packages/flutter_ds/example/android/build.gradle
  packages/flutter_ds/example/android/gradle/wrapper/gradle-wrapper.properties
Owners: @jimmyandrade

chore(release): publish v22.2.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

fix: wrong border radius in medium outlined button
  packages/flutter_ds/lib/src/components/buttons/medium_outlined_button.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

feat: add icon option to mediumoutlinedbutton
  packages/flutter_ds/example/lib/main.dart
  packages/flutter_ds/lib/src/components/buttons/medium_outlined_button.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

feat: add icon option to mediumoutlinedbutton
  packages/flutter_ds/example/lib/main.dart
  packages/flutter_ds/lib/src/components/buttons/medium_outlined_button.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

fix: wrong border radius in medium outlined button
  packages/flutter_ds/lib/src/components/buttons/medium_outlined_button.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

chore(release): publish v22.3.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore: update example version
  packages/flutter_ds/example/pubspec.lock
Owners: @jimmyandrade

fix: RenderFlex overflowed while testing widget
  packages/flutter_ds/lib/src/components/buttons/medium_outlined_button.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

fix: RenderFlex overflowed while testing widget
  packages/flutter_ds/lib/src/components/buttons/medium_outlined_button.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

chore: update example version
  packages/flutter_ds/example/pubspec.lock
Owners: @jimmyandrade

chore(release): publish v22.3.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v22.3.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

feat: add icon to medium contained button
  packages/flutter_ds/example/lib/main.dart
  packages/flutter_ds/lib/src/components/buttons/medium_contained_button.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

feat: add small input field
  packages/flutter_ds/example/lib/main.dart
  packages/flutter_ds/lib/src/components.dart
  packages/flutter_ds/lib/src/components/small_input_field.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

chore: update version in example
  packages/flutter_ds/example/pubspec.lock
Owners: @jimmyandrade

feat: creating an error icon color ref
  packages/style-dictionary/src/tokens/globals/component/icon.json
Owners: @jimmyandrade, @marciobda

feat: updates template with error color and method with color param
  packages/style-dictionary/src/templates/flutter_ds/svg_icon_class
Owners: @jimmyandrade

feat: include icon Tinted in example
  packages/flutter_ds/example/lib/main.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

chore(release): publish v22.4.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

feat: commit generated files
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/lib/src/generated/component_styles.dart
  packages/flutter_ds/lib/src/generated/svg_icons.dart
  packages/styles/src/componentTokens.ts
  packages/styles/src/customProperties.ts
Owners: @jimmyandrade, @gustavogamino, @paulononaka

chore(release): publish v22.5.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v22.5.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

fix: disabled color should match button color
  packages/flutter_ds/lib/src/components/buttons/small_contained_button.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

feat: includes new neutral standard alert color token
  packages/style-dictionary/src/tokens/globals/component/alert.json
  packages/style-dictionary/src/tokens/themes/light/color/background.json
Owners: @jimmyandrade, @marciobda

feat(example): neutral alert style and disabled small button
  packages/flutter_ds/example/ios/Podfile.lock
  packages/flutter_ds/example/lib/main.dart
Owners: @jimmyandrade, @gustavogamino, @paulononaka

feat: reference AlertColor neutral
  packages/flutter_ds/lib/src/components/alert.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

chore: commit generated files
  package-lock.json
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/lib/src/generated/color_palette.dart
  packages/flutter_ds/lib/src/generated/component_styles.dart
  packages/styles/src/colorTokens.ts
  packages/styles/src/componentTokens.ts
  packages/styles/src/customProperties.ts
Owners: @jimmyandrade, @gustavogamino, @paulononaka

feat: test manual bump version
  lerna.json
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v22.7.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

fix: changing warning color
  packages/flutter_ds/lib/src/generated/color_palette.dart
  packages/flutter_ds/lib/src/generated/component_styles.dart
  packages/style-dictionary/src/tokens/themes/light/color/base.json
  packages/styles/src/colorTokens.ts
  packages/styles/src/componentTokens.ts
  packages/styles/src/customProperties.ts
Owners: @gustavogamino, @jimmyandrade, @paulononaka, @marciobda

chore(release): publish v22.7.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

.github/CODEOWNERS:

*                                     @jimmyandrade
packages/flutter_ds/**/*.dart            @gustavogamino @jimmyandrade @paulononaka
packages/flutter_ds-styles/**/*.dart     @gustavogamino @jimmyandrade @paulononaka
packages/style-dictionary/**/*.json   @jimmyandrade @marciobda
packages/styles/**/*.ts               @jimmyandrade
