Repository FacioCode/design, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

fix(react): use medium date style for `ListInstallmentItem`
  packages/react/src/ListInstallmentItem/ListInstallmentItem.tsx
Owners: @jimmyandrade

chore(release): publish v19.1.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

feat(flutter): add styles for list item icon and list subheader
  packages/flutter_ds/lib/src/generated/component_styles.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

feat(styles): add styles for list item icon and list subheader
  packages/styles/src/componentTokens.ts
  packages/styles/src/customProperties.ts
Owners: @jimmyandrade

feat(style-dictionary): add styles for list item icon and list subheader
  packages/style-dictionary/src/tokens/globals/component/list_item_icon.json
  packages/style-dictionary/src/tokens/globals/component/list_subheader.json
Owners: @jimmyandrade, @marciobda

fix(react): add missing path data to `WarningIcon`
  packages/react/src/SvgIcon/WarningIcon.tsx
Owners: @jimmyandrade

feat(react): add new `WarningIcon` svg icon component
  packages/react/src/index.ts
Owners: @jimmyandrade

feat(react): add new `CalendarIcon` svg icon component
  packages/react/src/SvgIcon/CalendarIcon.tsx
  packages/react/src/index.ts
Owners: @jimmyandrade

docs(react): add storybook stories for `ListSubheader`
  packages/react/src/ListSubheader/index.stories.tsx
Owners: @jimmyandrade

feat(react): add `color` prop for `ListItemIcon`
  packages/react/src/ListItemIcon/ListItemIcon.styles.ts
  packages/react/src/ListItemIcon/ListItemIcon.tsx
  packages/react/src/ListItemIcon/ListItemIcon.types.ts
  packages/react/src/ListItemIcon/index.stories.tsx
Owners: @jimmyandrade

fix(react): fix colors and icons for `ListInstallmentItem`
  packages/react/src/ListInstallmentItem/ListInstallmentItem.tsx
Owners: @jimmyandrade

fix(react): prevent typescript errors with `Link` styles
  packages/react/src/Link/Link.styles.ts
Owners: @jimmyandrade

feat(mui-themes): add theme overrides for list item icon and list subheader
  packages/mui-themes/src/overrides/index.ts
Owners: @jimmyandrade

chore(release): publish v19.2.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

ci(codesandbox): use node 16 on codesandbox
  .codesandbox/ci.json
Owners: @jimmyandrade

chore(release): publish v19.2.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

fix(react): add support to `loading` prop on `ListInstallmentItem`
  packages/react/src/ListInstallmentItem/ListInstallmentItem.tsx
  packages/react/src/ListInstallmentItem/index.stories.tsx
Owners: @jimmyandrade

docs(react): extend playground args correctly for `ListInstallmentItem`
  packages/react/src/ListInstallmentItem/index.stories.tsx
Owners: @jimmyandrade

chore(release): publish v19.2.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

fix(react): don't strike installments unless zeroed on `ListInstallmentItem`
  packages/react/src/ListInstallmentItem/ListInstallmentItem.tsx
Owners: @jimmyandrade

chore(release): publish v19.2.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

feat(react): add `SearchIcon` svg icon component
  packages/react/src/SvgIcon/SearchIcon.tsx
  packages/react/src/index.ts
Owners: @jimmyandrade

chore(release): publish v19.3.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build(mui-themes): update package lock
  packages/mui-themes/package-lock.json
Owners: @jimmyandrade

build(react): bump package version
  packages/react/package-lock.json
  packages/react/package.json
Owners: @jimmyandrade

build(style-dictionary): update package lock
  packages/style-dictionary/package-lock.json
Owners: @jimmyandrade, @marciobda

build: update package lock file
  package-lock.json
Owners: @jimmyandrade

chore(release): publish v19.4.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build(deps): upgrade material ui core to 4.12.2
  package-lock.json
  packages/mui-themes/package-lock.json
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/package-lock.json
Owners: @jimmyandrade, @marciobda

chore(release): publish v19.4.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build(mui-themes): upgrade material ui core to 4.12.2
  packages/mui-themes/package.json
Owners: @jimmyandrade

build: update package lock file
  package-lock.json
  packages/mui-themes/package-lock.json
  packages/react/package-lock.json
  packages/style-dictionary/package-lock.json
Owners: @jimmyandrade, @marciobda

.github/CODEOWNERS:

*                                     @jimmyandrade
packages/flutter_ds/**/*.dart            @gustavogamino @jimmyandrade @paulononaka
packages/flutter_ds-styles/**/*.dart     @gustavogamino @jimmyandrade @paulononaka
packages/style-dictionary/**/*.json   @jimmyandrade @marciobda
packages/styles/**/*.ts               @jimmyandrade
