Repository FacioCode/design, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

chore(release): publish v10.6.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

fix(flutter): add hardcoded max lenght for pin code input on TextField
  packages/flutter_ds/lib/src/components/input_field.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

chore(release): publish v10.6.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

style(react): change import order
  packages/react/src/Toolbar/Toolbar.types.ts
Owners: @jimmyandrade

chore(release): publish v10.6.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

docs(react): add missing children prop on `LabeledCurrency` story
  packages/react/src/LabeledCurrency/index.stories.tsx
Owners: @jimmyandrade

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

refactor(react): change `LabeledCurrency` interface
  packages/react/src/LabeledCurrency/LabeledCurrency.tsx
  packages/react/src/LabeledCurrency/LabeledCurrency.types.ts
Owners: @jimmyandrade

chore(release): publish v11.0.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

refactor: remove `children` prop from `Currency` component
  packages/react/src/Currency/Currency.tsx
  packages/react/src/Currency/Currency.types.ts
Owners: @jimmyandrade

docs(react): fix use of `Currency` properties
  packages/react/src/BottomSheet/BottomSheet.stories.tsx
  packages/react/src/Currency/index.stories.tsx
  packages/react/src/FormHelperText/FormHelperText.stories.tsx
  packages/react/src/Table/Table.stories.tsx
Owners: @jimmyandrade

chore(release): publish v12.0.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

fix(react): set all `CurrencyProps` from `LabeledCurrency` to optional
  packages/react/src/LabeledCurrency/LabeledCurrency.types.ts
Owners: @jimmyandrade

chore(release): publish v12.0.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

fix(react): make `value` prop on `CurrencyProps` from `LabeledCurrency`
  packages/react/src/LabeledCurrency/LabeledCurrency.tsx
  packages/react/src/LabeledCurrency/LabeledCurrency.types.ts
  packages/react/src/types/Optional/index.ts
Owners: @jimmyandrade

chore(release): publish v12.0.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build: upgrade storybook deps to 6.2.1
  package-lock.json
  package.json
Owners: @jimmyandrade

build(mui-themes): update package lock
  packages/mui-themes/package-lock.json
Owners: @jimmyandrade

build(react): update package lock
  packages/react/package-lock.json
Owners: @jimmyandrade

build(style-dictionary): update package lock
  packages/style-dictionary/package-lock.json
Owners: @jimmyandrade, @marciobda

fix(react): set `LabeledCurrency` `aria-live` prop to `off` by default
  packages/react/src/LabeledCurrency/LabeledCurrency.tsx
Owners: @jimmyandrade

fix(react): don't omit `css` prop on `CurrencyField`
  packages/react/src/CurrencyField/CurrencyField.types.ts
Owners: @jimmyandrade

fix(react): make `LabeledCurrency` some props optional
  packages/react/src/LabeledCurrency/LabeledCurrency.types.ts
Owners: @jimmyandrade

chore(release): publish v12.0.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

fix(react): remove `Omit` type from `LabeledCurrency`
  packages/react/src/LabeledCurrency/LabeledCurrency.tsx
  packages/react/src/LabeledCurrency/LabeledCurrency.types.ts
Owners: @jimmyandrade

chore(release): publish v12.0.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build: upgrade storybook deps
  package-lock.json
  package.json
Owners: @jimmyandrade

build(mui-themes): update package lock
  packages/mui-themes/package-lock.json
Owners: @jimmyandrade

fix(mui-themes): prevent number inputs to add arrow buttons
  packages/mui-themes/src/overrides/MuiInputBase.ts
Owners: @jimmyandrade

build(react): update package lock
  packages/react/package-lock.json
Owners: @jimmyandrade

build(style-dictionary): update package lock
  packages/style-dictionary/package-lock.json
Owners: @jimmyandrade, @marciobda

fix(react): fix CurrencyField controlled and error behavior
  packages/react/src/CurrencyField/CurrencyField.stories.tsx
  packages/react/src/CurrencyField/CurrencyField.tsx
  packages/react/src/CurrencyField/CurrencyField.types.ts
  packages/react/src/CurrencyField/EndAdornment.tsx
  packages/react/src/CurrencyField/StartAdornment.tsx
  packages/react/src/CurrencyField/hooks/useErrorProp/index.ts
  packages/react/src/CurrencyField/hooks/useKeyDownCallback/index.ts
  packages/react/src/CurrencyField/hooks/usePatternProp/index.ts
  packages/react/src/CurrencyField/hooks/useScrollCallback/index.ts
  packages/react/src/CurrencyField/hooks/useStepProp/index.ts
  packages/react/src/CurrencyField/index.stories.tsx
Owners: @jimmyandrade

.github/CODEOWNERS:

*                                     @jimmyandrade
packages/flutter_ds/**/*.dart            @gustavogamino @jimmyandrade @paulononaka
packages/flutter_ds-styles/**/*.dart     @gustavogamino @jimmyandrade @paulononaka
packages/style-dictionary/**/*.json   @jimmyandrade @marciobda
packages/styles/**/*.ts               @jimmyandrade
