Repository FacioCode/design, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

.github/CODEOWNERS:

*                                     @jimmyandrade
packages/flutter_ds/**/*.dart            @gustavogamino @jimmyandrade @paulononaka
packages/flutter_ds-styles/**/*.dart     @gustavogamino @jimmyandrade @paulononaka
packages/style-dictionary/**/*.json   @jimmyandrade @marciobda
packages/styles/**/*.ts               @jimmyandrade

build(react): update package manifest and lock
  packages/react/package-lock.json
  packages/react/package.json
Owners: @jimmyandrade

build(style-dictionary): update package manifest and lock file
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
Owners: @jimmyandrade, @marciobda

build(styles): bump package version
  packages/styles/package.json
Owners: @jimmyandrade

fix(react): improve compatibility with custom `onChange` handler for `CpfField`
  packages/react/src/CpfField/CpfField.stories.tsx
  packages/react/src/CpfField/CpfField.tsx
Owners: @jimmyandrade

chore(release): publish v16.1.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

refactor(react): remove default export for `TextField` styles
  packages/react/src/TextField/TextField.styles.ts
Owners: @jimmyandrade

fix(react): prevent whitespace wrap on `Time` component
  packages/react/src/Time/Time.styles.ts
  packages/react/src/Time/Time.tsx
Owners: @jimmyandrade

chore(release): publish v16.1.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

refactor(react): remove `rowsMax` support from `CpfField`
  packages/react/src/CpfField/CpfField.tsx
  packages/react/src/CpfField/CpfField.types.ts
Owners: @jimmyandrade

refactor(react): remove `rowsMax` support from `PhoneField`
  packages/react/src/PhoneField/PhoneField.tsx
  packages/react/src/PhoneField/PhoneField.types.ts
Owners: @jimmyandrade

feat(react): add new `EmailField` component
  packages/react/src/EmailField/Email.stories.tsx
  packages/react/src/EmailField/EmailField.tsx
  packages/react/src/EmailField/EmailField.types.ts
  packages/react/src/EmailField/index.ts
Owners: @jimmyandrade

feat(react): add new `PasswordField` component
  packages/react/src/PasswordField/PasswordField.stories.tsx
  packages/react/src/PasswordField/PasswordField.tsx
  packages/react/src/PasswordField/PasswordField.types.ts
  packages/react/src/PasswordField/index.ts
Owners: @jimmyandrade

feat(react): make `EmailField` and `PasswordField` importable
  packages/react/src/index.ts
Owners: @jimmyandrade

chore(release): publish v16.2.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v16.2.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build: update package lock
  package-lock.json
Owners: @jimmyandrade

build(mui-themes): update package lock
  packages/mui-themes/package-lock.json
Owners: @jimmyandrade

build(react): update package lock
  packages/react/package-lock.json
Owners: @jimmyandrade

build(mui-themes): update package lock file
  packages/mui-themes/package-lock.json
Owners: @jimmyandrade

build(style-dictionary): update package lock
  packages/style-dictionary/package-lock.json
Owners: @jimmyandrade, @marciobda

build(react): update package lock
  packages/react/package-lock.json
Owners: @jimmyandrade

build(react): prevent postcss warning when running storybook
  packages/react/.storybook/main.js
Owners: @jimmyandrade

build(mui-themes): update package lock
  packages/mui-themes/package-lock.json
Owners: @jimmyandrade

fix(flutter): update FacioIcons font binaries
  packages/flutter_ds/assets/fonts/FacioIcons.eot
  packages/flutter_ds/assets/fonts/FacioIcons.ttf
  packages/flutter_ds/assets/fonts/FacioIcons.woff
  packages/flutter_ds/assets/fonts/FacioIcons.woff2
Owners: @jimmyandrade

fix(deps): upgrade react types and storybook
  package-lock.json
  package.json
Owners: @jimmyandrade

chore(release): publish v16.3.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

feat: add `eighteenFold` base size token
  packages/flutter_ds/lib/src/generated/sizes.dart
  packages/style-dictionary/src/tokens/globals/size/base.json
  packages/styles/src/sizeTokens.ts
Owners: @gustavogamino, @jimmyandrade, @paulononaka, @marciobda

chore(release): publish v16.4.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

feat: add `fifteenFold` base size token
  packages/flutter_ds/lib/src/generated/sizes.dart
  packages/style-dictionary/src/tokens/globals/size/base.json
  packages/styles/src/sizeTokens.ts
Owners: @gustavogamino, @jimmyandrade, @paulononaka, @marciobda

chore(release): publish v16.5.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

feat: add `twentyFourFold` base size token
  packages/flutter_ds/lib/src/generated/sizes.dart
  packages/style-dictionary/src/tokens/globals/size/base.json
  packages/styles/src/sizeTokens.ts
Owners: @gustavogamino, @jimmyandrade, @paulononaka, @marciobda

chore(release): publish v16.6.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade
