Repository FacioCode/design, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

chore(release): publish v10.2.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(react): add open-storybook npm script
  packages/react/package.json
Owners: @jimmyandrade

style(react): remove unused import at `BottomSheet`
  packages/react/src/BottomSheet/BottomSheet.stories.tsx
Owners: @jimmyandrade

feat(react): add support to `value` prop on `Currency`
  packages/react/src/Currency/Currency.types.ts
Owners: @jimmyandrade

feat(react): add support to `value` prop on `Currency`
  packages/react/src/Currency/Currency.tsx
Owners: @jimmyandrade

refactor(react): rename `Currency` stories file
  packages/react/src/Currency/index.stories.tsx
Owners: @jimmyandrade

refactor(react): change `LabeledCurrency` contract
  packages/react/src/LabeledCurrency/LabeledCurrency.styles.ts
  packages/react/src/LabeledCurrency/LabeledCurrency.tsx
  packages/react/src/LabeledCurrency/LabeledCurrency.types.ts
Owners: @jimmyandrade

docs(react): add version jsdoc to `LabeledCurrency` component
  packages/react/src/LabeledCurrency/LabeledCurrency.tsx
Owners: @jimmyandrade

refactor(react): rename stories for `LabeledCurrency` document
  packages/react/src/LabeledCurrency/index.stories.tsx
Owners: @jimmyandrade

docs(react): add version jsdoc to `Currency` component
  packages/react/src/Currency/Currency.types.ts
Owners: @jimmyandrade

chore(release): publish v10.3.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

feat(flutter_ds): add style tokens for `CurrencyFieldStyles`
  packages/flutter_ds/lib/src/generated/component_styles.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

feat(react): add support to `allowRecording`, add memos
  packages/react/src/TextField/TextField.tsx
  packages/react/src/TextField/TextField.types.ts
Owners: @jimmyandrade

docs(react): update `LabeledCurrency` jsdoc
  packages/react/src/LabeledCurrency/LabeledCurrency.tsx
Owners: @jimmyandrade

feat(style-dictionary): add style tokens for currency field
  packages/style-dictionary/src/tokens/globals/component/currency_field.json
Owners: @jimmyandrade, @marciobda

feat(styles): add style tokens for currency field
  packages/styles/src/componentTokens.ts
  packages/styles/src/customProperties.ts
Owners: @jimmyandrade

docs(react): update jsdoc for `Currency`
  packages/react/src/Currency/Currency.types.ts
Owners: @jimmyandrade

feat(react): add `CurrencyField` React component
  packages/react/src/CurrencyField/CurrencyField.stories.tsx
  packages/react/src/CurrencyField/CurrencyField.styles.ts
  packages/react/src/CurrencyField/CurrencyField.tsx
  packages/react/src/CurrencyField/CurrencyField.types.ts
  packages/react/src/CurrencyField/index.ts
  packages/react/src/index.ts
Owners: @jimmyandrade

refactor(react): remove `Currency` story from `TextField` stories
  packages/react/src/TextField/TextField.stories.tsx
Owners: @jimmyandrade

chore(release): publish v10.4.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

fix(react): prevent TypeScript errors for `TextField`
  packages/react/src/TextField/TextField.types.ts
Owners: @jimmyandrade

build(style-dictionary): update package lock file
  packages/style-dictionary/package-lock.json
Owners: @jimmyandrade, @marciobda

build: use latest instead of deprecations for Material UI dependency
  package-lock.json
Owners: @jimmyandrade

build(mui-themes): update package lock
  packages/mui-themes/package-lock.json
Owners: @jimmyandrade

build(react): update package lock
  packages/react/package-lock.json
  packages/react/package.json
Owners: @jimmyandrade

fix(react): use correct property name `rowsMax` for `TextField`
  packages/react/src/TextField/TextField.types.ts
Owners: @jimmyandrade

a11y(react): improve support for `aria-label` on `TextField`
  packages/react/src/TextField/TextField.tsx
Owners: @jimmyandrade

feat(react): add `aria-label` and `error` properties for `CurrencyField`
  packages/react/src/CurrencyField/CurrencyField.types.ts
Owners: @jimmyandrade

feat(react): improve support for `error` property on `CurrencyField`
  packages/react/src/CurrencyField/CurrencyField.tsx
Owners: @jimmyandrade

docs(react): improve story template for `CurrencyField`
  packages/react/src/CurrencyField/CurrencyField.stories.tsx
Owners: @jimmyandrade

chore(release): publish v10.5.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

fix(react): remove `css` prop from `Currency` and `LabeledCurrency` components
  packages/react/src/Currency/Currency.types.ts
  packages/react/src/LabeledCurrency/LabeledCurrency.types.ts
Owners: @jimmyandrade

fix(react): add missing `locales` props on `LabeledCurrency`
  packages/react/src/LabeledCurrency/LabeledCurrency.tsx
Owners: @jimmyandrade

chore(release): publish v10.6.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build(flutter_ds): update package lock
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

.github/CODEOWNERS:

*                                     @jimmyandrade
packages/flutter_ds/**/*.dart            @gustavogamino @jimmyandrade @paulononaka
packages/flutter_ds-styles/**/*.dart     @gustavogamino @jimmyandrade @paulononaka
packages/style-dictionary/**/*.json   @jimmyandrade @marciobda
packages/styles/**/*.ts               @jimmyandrade
