Repository FacioCode/design, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

chore(release): publish v16.6.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v16.6.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v16.6.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v16.6.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v16.6.5 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build(style-dictionary): update package lock file
  packages/style-dictionary/package-lock.json
Owners: @jimmyandrade, @marciobda

build(react): add `PropTypes` to globals
  packages/react/rollup.config.js
Owners: @jimmyandrade

build(deps): upgrade material ui lib to 4.11.4
  packages/react/package.json
Owners: @jimmyandrade

build(react): update package lock file
  packages/react/package-lock.json
Owners: @jimmyandrade

build(mui-themes): bump material ui core lib to 4.11.4
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
Owners: @jimmyandrade

build(flutter): don't break when npm run build is called
  packages/flutter_ds/package.json
Owners: @jimmyandrade

build: upgrade dependencies, use npm workspaces for building packages
  package-lock.json
  package.json
Owners: @jimmyandrade

build: update package lock files
  package-lock.json
  packages/mui-themes/package-lock.json
  packages/react/package-lock.json
  packages/style-dictionary/package-lock.json
Owners: @jimmyandrade, @marciobda

ci(github): use Node 16, use actions/setup-node 2
  .github/workflows/version.yml
Owners: @jimmyandrade

chore(release): publish v16.6.6 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

build(style-dictionary): update package lock file
  packages/style-dictionary/package-lock.json
Owners: @jimmyandrade, @marciobda

refactor(react): replace deprecated import on readme mdx
  packages/react/src/README.stories.mdx
Owners: @jimmyandrade

build(react): update package lock file
  packages/react/package-lock.json
Owners: @jimmyandrade

build: update package lock file
  package-lock.json
Owners: @jimmyandrade

build(flutter): bump pubspec file version
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build(mui-themes): update package lock file
  packages/mui-themes/package-lock.json
Owners: @jimmyandrade

feat(mui-themes): add new (unstable) `strictTheme` for strict mode
  packages/mui-themes/src/index.ts
Owners: @jimmyandrade

fix(react): use strict theme on storybook
  packages/react/.storybook/preview.js
Owners: @jimmyandrade

refactor(react): adopt type-only imports for `Alert` component
  packages/react/src/Alert/Alert.stories.tsx
  packages/react/src/Alert/Alert.tsx
  packages/react/src/Alert/index.ts
Owners: @jimmyandrade

refactor(react): use named & type-only export for `Alert` component
  packages/react/src/index.ts
Owners: @jimmyandrade

chore(release): publish v16.7.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

ci(github): use node 16 for publishing packages
  .github/workflows/publish.yml
Owners: @jimmyandrade

build: bump rollup to 2.52.7
  package-lock.json
  package.json
Owners: @jimmyandrade

chore(release): publish v16.7.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

feat: add `fourteenFold` base size token
  packages/flutter_ds/lib/src/generated/sizes.dart
  packages/style-dictionary/src/tokens/globals/size/base.json
  packages/styles/src/sizeTokens.ts
Owners: @gustavogamino, @jimmyandrade, @paulononaka, @marciobda

build(flutter): bump pubspec version to 16.7.0
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

refactor(react): remove default export from `ThemeProvider`
  packages/react/src/ThemeProvider/ThemeProvider.tsx
Owners: @jimmyandrade

refactor(react): adopt type-only export for `ThemeProviderProps`
  packages/react/src/ThemeProvider/index.ts
Owners: @jimmyandrade

feat(react): add `loading` prop to `LabeledCurrency`
  packages/react/src/LabeledCurrency/LabeledCurrency.styles.ts
  packages/react/src/LabeledCurrency/LabeledCurrency.tsx
  packages/react/src/LabeledCurrency/LabeledCurrency.types.ts
  packages/react/src/LabeledCurrency/index.stories.tsx
Owners: @jimmyandrade

.github/CODEOWNERS:

*                                     @jimmyandrade
packages/flutter_ds/**/*.dart            @gustavogamino @jimmyandrade @paulononaka
packages/flutter_ds-styles/**/*.dart     @gustavogamino @jimmyandrade @paulononaka
packages/style-dictionary/**/*.json   @jimmyandrade @marciobda
packages/styles/**/*.ts               @jimmyandrade
