Repository FacioCode/design, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

.github/CODEOWNERS:

*                                     @jimmyandrade
packages/flutter_ds/**/*.dart            @gustavogamino @jimmyandrade @paulononaka
packages/flutter_ds-styles/**/*.dart     @gustavogamino @jimmyandrade @paulononaka
packages/style-dictionary/**/*.json   @jimmyandrade @marciobda
packages/styles/**/*.ts               @jimmyandrade

build(react-icons): add babel config
  packages/react-icons/babel.config.js
Owners: @jimmyandrade

test(react-icons): add test script
  packages/react-icons/package.json
Owners: @jimmyandrade

refactor(react): remove svg icons from `react` package
  packages/react/src/SvgIcon/AppIcon.test.tsx
  packages/react/src/SvgIcon/AppIcon.tsx
  packages/react/src/SvgIcon/ApproveIcon.tsx
  packages/react/src/SvgIcon/CalendarIcon.tsx
  packages/react/src/SvgIcon/CloseIcon.tsx
  packages/react/src/SvgIcon/ForbiddenIcon.tsx
  packages/react/src/SvgIcon/FreeIcon.tsx
  packages/react/src/SvgIcon/HourglassIcon.tsx
  packages/react/src/SvgIcon/PaidIcon.tsx
  packages/react/src/SvgIcon/ReceivedIcon.tsx
  packages/react/src/SvgIcon/SearchIcon.tsx
  packages/react/src/SvgIcon/SvgIcon.stories.tsx
  packages/react/src/SvgIcon/SvgIcon.tsx
  packages/react/src/SvgIcon/SvgIcon.types.ts
  packages/react/src/SvgIcon/WaitingIcon.tsx
  packages/react/src/SvgIcon/WalletIcon.tsx
  packages/react/src/SvgIcon/WarningIcon.tsx
  packages/react/src/SvgIcon/WhatsAppIcon.tsx
  packages/react/src/SvgIcon/__snapshots__/AppIcon.test.tsx.snap
  packages/react/src/SvgIcon/index.ts
  packages/react/src/index.ts
Owners: @jimmyandrade

wip(react): use local `react-icons` package for now
  packages/react/package-lock.json
  packages/react/package.json
Owners: @jimmyandrade

chore(idea): do not index build or dist files
  .idea/design.iml
Owners: @jimmyandrade

revert: don't run linter before build for now
  package.json
Owners: @jimmyandrade

docs(react-icons): update `PaidIcon` description and example
  packages/react-icons/src/PaidIcon.tsx
Owners: @jimmyandrade

chore(style-dictionary): do not commit build folder
  packages/style-dictionary/.gitignore
Owners: @jimmyandrade

revert(style-dictionary): bring back larger size tokens
  packages/style-dictionary/tokens/globals/size/base.json
Owners: @jimmyandrade, @marciobda

chore(release): publish v21.0.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v21.0.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build: update package lock file
  package-lock.json
Owners: @jimmyandrade

feat(style-dictionary): add opacity token for button
  packages/style-dictionary/src/tokens/globals/component/button.json
  packages/style-dictionary/src/tokens/globals/opacity.json
Owners: @jimmyandrade, @marciobda

feat(styles): add opacity token for button
  packages/styles/src/componentTokens.ts
  packages/styles/src/customProperties.ts
Owners: @jimmyandrade

build(flutter): update pubspec lock
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/pubspec.lock
Owners: @jimmyandrade

ci(github): reenable pubspec publishing
  .github/workflows/publish.yml
Owners: @jimmyandrade

feat(flutter): add opacity style token
  packages/flutter_ds/lib/src/generated/component_styles.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

fix(flutter): fix small button padding for web platform
  packages/flutter_ds/lib/src/components/buttons/small_contained_button.dart
  packages/flutter_ds/lib/src/components/buttons/small_link_button.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

build(flutter): update pubspec lock
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/pubspec.lock
Owners: @jimmyandrade

feat(flutter): add opacity style token
  packages/flutter_ds/lib/src/generated/component_styles.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

ci(github): reenable pubspec publishing
  .github/workflows/publish.yml
Owners: @jimmyandrade

fix(flutter): fix small button padding for web platform
  packages/flutter_ds/lib/src/components/buttons/small_contained_button.dart
  packages/flutter_ds/lib/src/components/buttons/small_link_button.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

feat(styles): add opacity token for button
  packages/styles/src/componentTokens.ts
  packages/styles/src/customProperties.ts
Owners: @jimmyandrade

build: update package lock file
  package-lock.json
Owners: @jimmyandrade

feat(style-dictionary): add opacity token for button
  packages/style-dictionary/src/tokens/globals/component/button.json
  packages/style-dictionary/src/tokens/globals/opacity.json
Owners: @jimmyandrade, @marciobda

chore(release): publish v21.1.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(style-dictionary): ignore build folder
  .idea/design.iml
  packages/style-dictionary/.gitignore
Owners: @jimmyandrade

build: update package lock
  package-lock.json
Owners: @jimmyandrade

chore(release): publish v21.1.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

build(flutter): bump pubspec version
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

test(react): fix test for `AppIcon`
  packages/react/src/SvgIcon/AppIcon.test.tsx
  packages/react/src/SvgIcon/AppIcon.tsx
Owners: @jimmyandrade

build(flutter): bump `flutter` package to `21.1.1`
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build: update package lock file
  package-lock.json
Owners: @jimmyandrade

build(deps): add `@types/node` dependency
  package-lock.json
  package.json
Owners: @jimmyandrade

chore(release): publish v21.1.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build(flutter): remove upper bound from flutter package
  packages/flutter_ds/pubspec.yaml
  packages/style-dictionary/src/templates/flutter_ds/pubspec_yaml
Owners: @jimmyandrade

chore(release): publish v21.1.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda
