Repository FacioCode/design, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v21.1.31 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v21.1.32 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

build(flutter): rebuild FacioIcons font
  packages/flutter_ds/assets/fonts/FacioIcons.svg
Owners: @jimmyandrade

feat(style-dictionary): add style tokens for tab link
  packages/style-dictionary/src/tokens/platforms/web/component/tab_link.json
Owners: @jimmyandrade, @marciobda

feat(style-dictionary): add tokens to tab component
  packages/style-dictionary/src/tokens/platforms/web/component/tab.json
  packages/style-dictionary/src/tokens/platforms/web/component/tab_link.json
Owners: @jimmyandrade, @marciobda

feat(style-dictionary): add `almostOpaque` opacity token
  packages/style-dictionary/src/tokens/globals/opacity.json
Owners: @jimmyandrade, @marciobda

feat(styles): add style tokens for tab components
  packages/styles/src/componentTokens.ts
  packages/styles/src/customProperties.ts
Owners: @jimmyandrade

feat(mui-themes): override `MuiTab` styles from Material UI
  packages/mui-themes/src/overrides/index.ts
Owners: @jimmyandrade

refactor(react): remove `textColor` prop from `Tab` component
  packages/react/src/Tabs/Tab/Tab.types.ts
Owners: @jimmyandrade

a11y(react): add missing `tabIndex` default value for `TabPanel`
  packages/react/src/Tabs/TabPanel/TabPanel.tsx
Owners: @jimmyandrade

fix(react): prevent invalid default import for `Tab` and `TabPanel`
  packages/react/src/Tabs/Tab/Tab.tsx
  packages/react/src/Tabs/Tab/index.ts
  packages/react/src/Tabs/TabPanel/index.ts
  packages/react/src/index.ts
Owners: @jimmyandrade

docs(react): improve tabs stories
  packages/react/src/Tabs/Tabs.stories.tsx
Owners: @jimmyandrade

refactor(react): remove `textColor` prop from `Tab` component
  packages/react/src/Tabs/Tab/Tab.types.ts
Owners: @jimmyandrade

fix(react): prevent invalid default import for `Tab` and `TabPanel`
  packages/react/src/Tabs/Tab/Tab.tsx
  packages/react/src/Tabs/Tab/index.ts
  packages/react/src/Tabs/TabPanel/index.ts
  packages/react/src/index.ts
Owners: @jimmyandrade

docs(react): improve tabs stories
  packages/react/src/Tabs/Tabs.stories.tsx
Owners: @jimmyandrade

feat(styles): add style tokens for tab components
  packages/styles/src/componentTokens.ts
  packages/styles/src/customProperties.ts
Owners: @jimmyandrade

build(flutter): rebuild FacioIcons font
  packages/flutter_ds/assets/fonts/FacioIcons.svg
Owners: @jimmyandrade

feat(style-dictionary): add `almostOpaque` opacity token
  packages/style-dictionary/src/tokens/globals/opacity.json
Owners: @jimmyandrade, @marciobda

feat(style-dictionary): add style tokens for tab link
  packages/style-dictionary/src/tokens/platforms/web/component/tab_link.json
Owners: @jimmyandrade, @marciobda

a11y(react): add missing `tabIndex` default value for `TabPanel`
  packages/react/src/Tabs/TabPanel/TabPanel.tsx
Owners: @jimmyandrade

feat(mui-themes): override `MuiTab` styles from Material UI
  packages/mui-themes/src/overrides/index.ts
Owners: @jimmyandrade

feat(style-dictionary): add tokens to tab component
  packages/style-dictionary/src/tokens/platforms/web/component/tab.json
  packages/style-dictionary/src/tokens/platforms/web/component/tab_link.json
Owners: @jimmyandrade, @marciobda

chore(release): publish v22.0.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v22.0.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

Create bank.svg
  packages/flutter_ds/assets/icons/bank.svg
Owners: @jimmyandrade

feat: bank icon
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/lib/src/generated/svg_icons.dart
  packages/flutter_ds/pubspec.lock
  packages/style-dictionary/src/tokens/assets/icon.json
Owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

chore(release): publish v22.1.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

feat: add icons corporate and logout
  packages/flutter_ds/assets/icons/corporate.svg
  packages/flutter_ds/assets/icons/logout.svg
  packages/flutter_ds/lib/src/generated/svg_icons.dart
  packages/style-dictionary/src/tokens/assets/icon.json
Owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

feat: update lib version in example
  packages/flutter_ds/example/pubspec.lock
Owners: @jimmyandrade

feat: update lib version in example
  packages/flutter_ds/example/pubspec.lock
Owners: @jimmyandrade

feat: add icons corporate and logout
  packages/flutter_ds/assets/icons/corporate.svg
  packages/flutter_ds/assets/icons/logout.svg
  packages/flutter_ds/lib/src/generated/svg_icons.dart
  packages/style-dictionary/src/tokens/assets/icon.json
Owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

chore(release): publish v22.2.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

fix: example build error: No toolchains found in the NDK
  packages/flutter_ds/example/android/build.gradle
  packages/flutter_ds/example/android/gradle/wrapper/gradle-wrapper.properties
Owners: @jimmyandrade

.github/CODEOWNERS:

*                                     @jimmyandrade
packages/flutter_ds/**/*.dart            @gustavogamino @jimmyandrade @paulononaka
packages/flutter_ds-styles/**/*.dart     @gustavogamino @jimmyandrade @paulononaka
packages/style-dictionary/**/*.json   @jimmyandrade @marciobda
packages/styles/**/*.ts               @jimmyandrade
