Repository FacioCode/design, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

refactor(flutter): enables web for Flutter DS example
  .vscode/launch.json
  packages/flutter_ds/example/.vscode/launch.json
  packages/flutter_ds/example/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/flutter_ds/example/android/app/src/main/res/values-night/styles.xml
  packages/flutter_ds/example/web/favicon.png
  packages/flutter_ds/example/web/icons/Icon-192.png
  packages/flutter_ds/example/web/icons/Icon-512.png
  packages/flutter_ds/example/web/index.html
  packages/flutter_ds/example/web/manifest.json
Owners: @jimmyandrade

feat(flutter): migrated to null-safety
  .github/workflows/publish.yml
  .vscode/launch.json
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/example/pubspec.yaml
  packages/flutter_ds/lib/src/animations/hide_animation.dart
  packages/flutter_ds/lib/src/components/alert.dart
  packages/flutter_ds/lib/src/components/bottom_sheet.dart
  packages/flutter_ds/lib/src/components/buttons/medium_contained_button.dart
  packages/flutter_ds/lib/src/components/buttons/medium_link_button.dart
  packages/flutter_ds/lib/src/components/buttons/medium_outlined_button.dart
  packages/flutter_ds/lib/src/components/buttons/small_contained_button.dart
  packages/flutter_ds/lib/src/components/buttons/small_link_button.dart
  packages/flutter_ds/lib/src/components/buttons/small_outlined_button.dart
  packages/flutter_ds/lib/src/components/card.dart
  packages/flutter_ds/lib/src/components/date_field.dart
  packages/flutter_ds/lib/src/components/input_field.dart
  packages/flutter_ds/lib/src/components/legacy/base_app_bar.dart
  packages/flutter_ds/lib/src/components/legacy/chips.dart
  packages/flutter_ds/lib/src/components/legacy/legacy_theme.dart
  packages/flutter_ds/lib/src/components/legacy/swipe_button.dart
  packages/flutter_ds/lib/src/components/legacy/video_thumb.dart
  packages/flutter_ds/lib/src/components/masks/magic_mask.dart
  packages/flutter_ds/lib/src/components/money_text.dart
  packages/flutter_ds/lib/src/components/progress_widget.dart
  packages/flutter_ds/lib/src/components/scaffold.dart
  packages/flutter_ds/lib/src/generated/svg_icons.dart
  packages/flutter_ds/lib/src/generated/svg_images.dart
  packages/flutter_ds/pubspec.lock
  packages/flutter_ds/pubspec.yaml
  packages/style-dictionary/src/templates/flutter_ds/pubspec_yaml
Owners: @jimmyandrade, @gustavogamino, @paulononaka

chore(release): publish v10.0.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

Revert "feat(flutter): migrated to null-safety"
  .github/workflows/publish.yml
  .vscode/launch.json
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/example/pubspec.yaml
  packages/flutter_ds/lib/src/animations/hide_animation.dart
  packages/flutter_ds/lib/src/components/alert.dart
  packages/flutter_ds/lib/src/components/bottom_sheet.dart
  packages/flutter_ds/lib/src/components/buttons/medium_contained_button.dart
  packages/flutter_ds/lib/src/components/buttons/medium_link_button.dart
  packages/flutter_ds/lib/src/components/buttons/medium_outlined_button.dart
  packages/flutter_ds/lib/src/components/buttons/small_contained_button.dart
  packages/flutter_ds/lib/src/components/buttons/small_link_button.dart
  packages/flutter_ds/lib/src/components/buttons/small_outlined_button.dart
  packages/flutter_ds/lib/src/components/card.dart
  packages/flutter_ds/lib/src/components/date_field.dart
  packages/flutter_ds/lib/src/components/input_field.dart
  packages/flutter_ds/lib/src/components/legacy/base_app_bar.dart
  packages/flutter_ds/lib/src/components/legacy/chips.dart
  packages/flutter_ds/lib/src/components/legacy/legacy_theme.dart
  packages/flutter_ds/lib/src/components/legacy/swipe_button.dart
  packages/flutter_ds/lib/src/components/legacy/video_thumb.dart
  packages/flutter_ds/lib/src/components/masks/magic_mask.dart
  packages/flutter_ds/lib/src/components/money_text.dart
  packages/flutter_ds/lib/src/components/progress_widget.dart
  packages/flutter_ds/lib/src/components/scaffold.dart
  packages/flutter_ds/lib/src/generated/svg_icons.dart
  packages/flutter_ds/lib/src/generated/svg_images.dart
  packages/flutter_ds/pubspec.lock
  packages/flutter_ds/pubspec.yaml
  packages/style-dictionary/src/templates/flutter_ds/pubspec_yaml
Owners: @jimmyandrade, @gustavogamino, @paulononaka

chore(release): publish v10.0.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(flutter): upgrade workflow to use Flutter 2.0.1 and remove requirement from project
  .github/workflows/publish.yml
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/example/pubspec.yaml
  packages/flutter_ds/pubspec.yaml
  packages/style-dictionary/src/templates/flutter_ds/pubspec_yaml
Owners: @jimmyandrade

chore(release): publish v10.0.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(flutter): eases Flutter requirement from lib
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/example/pubspec.yaml
  packages/flutter_ds/pubspec.lock
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(release): publish v10.0.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

Revert "chore(flutter): eases Flutter requirement from lib"
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/example/pubspec.yaml
  packages/flutter_ds/pubspec.lock
Owners: @jimmyandrade

Revert "chore(flutter): upgrade workflow to use Flutter 2.0.1 and remove requirement from project"
  .github/workflows/publish.yml
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/example/pubspec.yaml
  packages/style-dictionary/src/templates/flutter_ds/pubspec_yaml
Owners: @jimmyandrade

Revert "Revert "feat(flutter): migrated to null-safety""
  .github/workflows/publish.yml
  .vscode/launch.json
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/example/pubspec.yaml
  packages/flutter_ds/lib/src/animations/hide_animation.dart
  packages/flutter_ds/lib/src/components/alert.dart
  packages/flutter_ds/lib/src/components/bottom_sheet.dart
  packages/flutter_ds/lib/src/components/buttons/medium_contained_button.dart
  packages/flutter_ds/lib/src/components/buttons/medium_link_button.dart
  packages/flutter_ds/lib/src/components/buttons/medium_outlined_button.dart
  packages/flutter_ds/lib/src/components/buttons/small_contained_button.dart
  packages/flutter_ds/lib/src/components/buttons/small_link_button.dart
  packages/flutter_ds/lib/src/components/buttons/small_outlined_button.dart
  packages/flutter_ds/lib/src/components/card.dart
  packages/flutter_ds/lib/src/components/date_field.dart
  packages/flutter_ds/lib/src/components/input_field.dart
  packages/flutter_ds/lib/src/components/legacy/base_app_bar.dart
  packages/flutter_ds/lib/src/components/legacy/chips.dart
  packages/flutter_ds/lib/src/components/legacy/legacy_theme.dart
  packages/flutter_ds/lib/src/components/legacy/swipe_button.dart
  packages/flutter_ds/lib/src/components/legacy/video_thumb.dart
  packages/flutter_ds/lib/src/components/masks/magic_mask.dart
  packages/flutter_ds/lib/src/components/money_text.dart
  packages/flutter_ds/lib/src/components/progress_widget.dart
  packages/flutter_ds/lib/src/components/scaffold.dart
  packages/flutter_ds/lib/src/generated/svg_icons.dart
  packages/flutter_ds/lib/src/generated/svg_images.dart
  packages/flutter_ds/pubspec.lock
  packages/flutter_ds/pubspec.yaml
  packages/style-dictionary/src/templates/flutter_ds/pubspec_yaml
Owners: @jimmyandrade, @gustavogamino, @paulononaka

chore(release): publish v10.0.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

feat(flutter): add pin input type to TextInput component
  packages/flutter_ds/lib/src/components/input_field.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

chore(release): publish v10.1.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore: update .idea project file
  .idea/design.iml
Owners: @jimmyandrade

build: upgrade deps
  package-lock.json
  package.json
Owners: @jimmyandrade

build(mui-themes): update package lock
  packages/mui-themes/package-lock.json
Owners: @jimmyandrade

build(react): update package lock
  packages/react/package-lock.json
Owners: @jimmyandrade

build(style-dictionary): update package lock
  packages/style-dictionary/package-lock.json
Owners: @jimmyandrade, @marciobda

chore(.idea): update excluded folders
  .idea/design.iml
Owners: @jimmyandrade

refactor(flutter): replaces dart:io with universal_io in order to support web
  .gitignore
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/lib/src/components/input_field.dart
  packages/flutter_ds/lib/src/components/money_text.dart
  packages/flutter_ds/pubspec.lock
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade, @gustavogamino, @paulononaka

chore(release): publish v10.1.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

refactor(flutter): fixes on import - replaces dart:io with universal_io in order to support web
  packages/flutter_ds/example/pubspec.lock
  packages/flutter_ds/pubspec.lock
  packages/style-dictionary/src/templates/flutter_ds/pubspec_yaml
Owners: @jimmyandrade

chore(release): publish v10.1.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter_ds/CHANGELOG.md
  packages/flutter_ds/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter): bump package version [skip ci]
  packages/flutter_ds/pubspec.yaml
Owners: @jimmyandrade

chore(.idea): update excluded folders
  .idea/design.iml
Owners: @jimmyandrade

build: ugrade deps to latest versions
  package-lock.json
  package.json
Owners: @jimmyandrade

build(mui-themes): update package lock
  packages/mui-themes/package-lock.json
Owners: @jimmyandrade

build(react): update dependencies
  packages/react/package-lock.json
  packages/react/package.json
Owners: @jimmyandrade

fix(react): fix support to custom `className` on `Typography`
  packages/react/src/Typography/Typography.tsx
Owners: @jimmyandrade

feat(react): add `LabeledCurrency` component
  packages/react/src/LabeledCurrency/LabeledCurrency.stories.tsx
  packages/react/src/LabeledCurrency/LabeledCurrency.styles.ts
  packages/react/src/LabeledCurrency/LabeledCurrency.tsx
  packages/react/src/LabeledCurrency/LabeledCurrency.types.ts
  packages/react/src/LabeledCurrency/index.ts
  packages/react/src/index.ts
Owners: @jimmyandrade

docs(react): set stories language to Portuguese (Brazil)
  packages/react/.storybook/preview.js
Owners: @jimmyandrade

.github/CODEOWNERS:

*                                     @jimmyandrade
packages/flutter_ds/**/*.dart            @gustavogamino @jimmyandrade @paulononaka
packages/flutter_ds-styles/**/*.dart     @gustavogamino @jimmyandrade @paulononaka
packages/style-dictionary/**/*.json   @jimmyandrade @marciobda
packages/styles/**/*.ts               @jimmyandrade
