Repository FacioCode/design, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jimmyandrade, @gustavogamino, @paulononaka, @marciobda

.github/CODEOWNERS:

*                                     @jimmyandrade
packages/flutter/**/*.dart            @gustavogamino @jimmyandrade @paulononaka
packages/flutter-styles/**/*.dart     @gustavogamino @jimmyandrade @paulononaka
packages/style-dictionary/**/*.json   @jimmyandrade @marciobda
packages/styles/**/*.ts               @jimmyandrade

chore(release): publish v0.32.7 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter-styles/CHANGELOG.md
  packages/flutter-styles/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react-storybook/CHANGELOG.md
  packages/react-storybook/package-lock.json
  packages/react-storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package-lock.json
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter-styles): bump package version [skip ci]
  packages/flutter-styles/pubspec.yaml
Owners: @jimmyandrade

refactor(react): remove unused `css` property
  packages/react/src/Alert/Alert.types.ts
  packages/react/src/Button/Button.types.ts
  packages/react/src/TextField/TextField.types.ts
  packages/react/src/Typography/Typography.types.ts
Owners: @jimmyandrade

refactor(flutter-styles): rename `Alert` component tokens
  packages/flutter-styles/lib/component_styles.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

feat(react): add `gutters` property to `Alert`
  packages/react/src/Alert/Alert.styles.ts
  packages/react/src/Alert/Alert.tsx
  packages/react/src/Alert/Alert.types.ts
Owners: @jimmyandrade

refactor(style-dictionary): move alert margin tokens from `root` to `gutters`
  packages/style-dictionary/src/tokens/globals/component/alert.json
Owners: @jimmyandrade, @marciobda

refactor(styles): rename alert component tokens
  packages/styles/src/componentTokens.ts
Owners: @jimmyandrade

refactor(styles): move Alert margin tokens to gutters
  packages/styles/src/customProperties.ts
Owners: @jimmyandrade

refactor(styles): move Alert margin tokens to gutters
  packages/styles/src/customProperties.ts
Owners: @jimmyandrade

feat(react): add `gutters` property to `Alert`
  packages/react/src/Alert/Alert.styles.ts
  packages/react/src/Alert/Alert.tsx
  packages/react/src/Alert/Alert.types.ts
Owners: @jimmyandrade

build(react): update package lock file
  packages/react/package-lock.json
Owners: @jimmyandrade

build(react-storybook): update package lock file
  packages/react-storybook/package-lock.json
Owners: @jimmyandrade

refactor(style-dictionary): move alert margin tokens from `root` to `gutters`
  packages/style-dictionary/src/tokens/globals/component/alert.json
Owners: @jimmyandrade, @marciobda

build(mui-themes): update package lock file
  packages/mui-themes/package-lock.json
Owners: @jimmyandrade

refactor(react): remove unused `css` property
  packages/react/src/Alert/Alert.types.ts
  packages/react/src/Button/Button.types.ts
  packages/react/src/TextField/TextField.types.ts
  packages/react/src/Typography/Typography.types.ts
Owners: @jimmyandrade

refactor(styles): rename alert component tokens
  packages/styles/src/componentTokens.ts
Owners: @jimmyandrade

refactor(flutter-styles): rename `Alert` component tokens
  packages/flutter-styles/lib/component_styles.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

chore(release): publish v0.33.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter-styles/CHANGELOG.md
  packages/flutter-styles/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react-storybook/CHANGELOG.md
  packages/react-storybook/package-lock.json
  packages/react-storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package-lock.json
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter-styles): bump package version [skip ci]
  packages/flutter-styles/pubspec.yaml
Owners: @jimmyandrade

build(react-storybook): add build script
  packages/react-storybook/package.json
Owners: @jimmyandrade

fix(react): add missing font weight style to Currency
  packages/react/src/Currency/Currency.styles.ts
  packages/react/src/Currency/Currency.tsx
Owners: @jimmyandrade

fix(react): prevent TypeScript error because of missing `css` property
  packages/react/src/Card/Card.types.ts
  packages/react/src/Checkbox/Checkbox.types.ts
  packages/react/src/Chip/Chip.types.ts
  packages/react/src/Dialog/Dialog.types.ts
  packages/react/src/Dialog/DialogActions/DialogActions.types.ts
  packages/react/src/Dialog/DialogContent/DialogContent.types.ts
  packages/react/src/Dialog/DialogContentText/DialogContentText.types.ts
  packages/react/src/Dialog/DialogTitle/DialogTitle.types.ts
  packages/react/src/Divider/Divider.types.tsx
  packages/react/src/FormLabel/FormLabel.types.ts
  packages/react/src/IconButton/IconButton.types.ts
  packages/react/src/Input/Input.types.ts
  packages/react/src/InputBase/InputBase.types.ts
  packages/react/src/Paper/Paper.types.ts
  packages/react/src/Table/Table.types.ts
  packages/react/src/Table/TableBody/TableBody.types.ts
  packages/react/src/Table/TableCell/TableCell.types.ts
  packages/react/src/Table/TableContainer/TableContainer.types.ts
  packages/react/src/Table/TableFooter/TableFooter.types.ts
  packages/react/src/Table/TableHead/TableHead.types.ts
  packages/react/src/Table/TableRow/TableRow.types.ts
  packages/react/src/ThemeProvider/ThemeProvider.types.ts
Owners: @jimmyandrade

chore(release): publish v0.33.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter-styles/CHANGELOG.md
  packages/flutter-styles/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react-storybook/CHANGELOG.md
  packages/react-storybook/package-lock.json
  packages/react-storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package-lock.json
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter-styles): bump package version [skip ci]
  packages/flutter-styles/pubspec.yaml
Owners: @jimmyandrade

build(react-storybook): build Storybook in quiet mode
  packages/react-storybook/package.json
Owners: @jimmyandrade

chore(release): publish v0.33.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/flutter-styles/CHANGELOG.md
  packages/flutter-styles/package.json
  packages/mui-themes/CHANGELOG.md
  packages/mui-themes/package-lock.json
  packages/mui-themes/package.json
  packages/react-storybook/CHANGELOG.md
  packages/react-storybook/package-lock.json
  packages/react-storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/style-dictionary/CHANGELOG.md
  packages/style-dictionary/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package-lock.json
  packages/styles/package.json
Owners: @jimmyandrade, @marciobda

chore(flutter-styles): bump package version [skip ci]
  packages/flutter-styles/pubspec.yaml
Owners: @jimmyandrade

refactor(flutter): remove generated folder
  packages/flutter/generated/lib/color_palette.dart
  packages/flutter/generated/lib/component_styles.dart
  packages/flutter/generated/lib/facio_styles.dart
  packages/flutter/generated/lib/sizes.dart
  packages/flutter/generated/lib/text_theme.dart
  packages/flutter/generated/pubspec.yaml
Owners: @gustavogamino, @jimmyandrade, @paulononaka

build(style-dictionary): move `style-dictionary` dep to package folder
  package.json
  packages/style-dictionary/package-lock.json
  packages/style-dictionary/package.json
Owners: @jimmyandrade, @marciobda

refactor(flutter): fixes package name and add linter directives to templates
  packages/flutter/lib/src/components/icons.dart
  packages/flutter/lib/src/components/legacy/legacy_theme.dart
  packages/flutter/lib/src/generated/color_palette.dart
  packages/flutter/lib/src/generated/component_styles.dart
  packages/flutter/lib/src/generated/sizes.dart
  packages/flutter/lib/src/generated/text_theme.dart
  packages/style-dictionary/src/formats/flutter/pubspec-yaml/index.js
  packages/style-dictionary/src/templates/flutter/component_styles
  packages/style-dictionary/src/templates/flutter/library_class
  packages/style-dictionary/src/templates/flutter/pubspec_yaml
  packages/style-dictionary/src/templates/flutter/text_theme
Owners: @gustavogamino, @jimmyandrade, @paulononaka

style(flutter): format code from components
  packages/flutter/lib/src/animations/hide_animation.dart
  packages/flutter/lib/src/components/canvas.dart
  packages/flutter/lib/src/components/date_field.dart
  packages/flutter/lib/src/components/gradient_button.dart
  packages/flutter/lib/src/components/icons.dart
  packages/flutter/lib/src/components/legacy/base_app_bar.dart
  packages/flutter/lib/src/components/legacy/button.dart
  packages/flutter/lib/src/components/legacy/card.dart
  packages/flutter/lib/src/components/legacy/chips.dart
  packages/flutter/lib/src/components/legacy/legacy_theme.dart
  packages/flutter/lib/src/components/legacy/swipe_button.dart
  packages/flutter/lib/src/components/legacy/text_bullet.dart
  packages/flutter/lib/src/components/legacy/video_thumb.dart
  packages/flutter/lib/src/components/name_field.dart
  packages/flutter/lib/src/components/primary_button_contained.dart
  packages/flutter/lib/src/components/tertiary_button_link.dart
  packages/flutter/lib/src/components/tertiary_button_outlined.dart
Owners: @gustavogamino, @jimmyandrade, @paulononaka

style(flutter): remove duplicated empty line
  packages/flutter/lib/src/generated/component_styles.dart
  packages/style-dictionary/src/templates/flutter/component_styles
Owners: @gustavogamino, @jimmyandrade, @paulononaka
